* {
  box-sizing: border-box;
}

body {
  font-family: ubuntu, sans-serif;
  background: #bbbbdd;
}

/* Style the header */
header {
  background-image: url('assets/image/headerbackground.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 30px;
  text-align: left;
  text-shadow: 4px 4px 5px #000000;
  font-size: 35px;
  color: #FFFFFF;
}

/* Create two columns/boxes that floats next to each other */
aside {
  float: left;
  width: 30%;
  height: 500px;
  background: #bbbbdd;
  padding: 20px;
}

/* Style the list inside the menu */
/*nav ul {
  list-style-type: none;
  padding: 0;
}*/

article {
  float: left;
  padding: 0px;
  width: 70%;
  background-color: #aaaaee;
  height: 500px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #707070;
  padding: 10px;
  text-align: left;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

iframe {
  border: none;
  padding: 0px;
}
